.git
.cache
.vscode
.idea
.ccls-cache/
.vs
cscope.out
compile_commands.json
clang-log/
.#*
*._d
*._o
*.[ado]
*.so
*.pc
*.sdb
*.dylib
*.dll
*.lib
*.obj
*.ilk
*.dSYM
supported.*
config.mk
plugins.cfg
langs.cfg
.test.c
.*.swp
.*.swo
*.un~
*.pdb
*.lib
*.ilk
**/*.o
build*
test/.tmp/*
subprojects/capstone-*/
!subprojects/capstone-*.wrap
subprojects/libzip-*/
subprojects/lz4-*/
subprojects/packagecache/
subprojects/sdb/
subprojects/tree-sitter-*/
!subprojects/tree-sitter-*.wrap
subprojects/zlib-*/
Dockerfile
