clang-log/
.clang_complete
.tmp-format
.#*
*._d
*._o
*.[ado]
*.so
*.pc
*.sdb
*.dylib
*.dll
*.lib
*.obj
*.ilk
*.dSYM
supported.*
config.mk
plugins.cfg
langs.cfg
.test.c
.*.swp
.*.swo
*.un~
*.pdb
*.lib
*.ilk
binrz/rz-agent/rz-agent
binrz/rz-agent/rz-agent.exe
binrz/rz-test/rz-test
binrz/rz-test/rz-test.exe
binrz/rz-bin/rz-bin
binrz/rz-bin/rz-bin.exe
binrz/rizin/rizin
binrz/rizin/rizin.exe
binrz/rz-diff/rz-diff
binrz/rz-diff/rz-diff.exe
binrz/rz-find/rz-find
binrz/rz-find/rz-find.exe
binrz/rz-gg/rz-gg
binrz/rz-gg/rz-gg.exe
binrz/rz-hash/rz-hash
binrz/rz-hash/rz-hash.exe
binrz/ranal2/ranal2
binrz/ranal2/ranal2.exe
binrz/rz-run/rz-run
binrz/rz-run/rz-run.exe
binrz/rz-asm/rz-asm
binrz/rz-asm/rz-asm.exe
binrz/rz-ax/rz-ax
binrz/rz-ax/rz-ax.exe
binrz/rz-sign/rz-sign
binrz/rz-sign/rz-sign.exe
binrz/*/_CodeSignature/*
build
build_sdb
config-user.mk
librz/bin/d/dll/dll
librz/config.h
librz/include/rz_userconf.h
librz/include/rz_version.h
librz/include/rz_version.h.tmp
shlr/capstone/
shlr/java/out
shlr/java/out.exe
shlr/sdb/sdb
shlr/sdb/sdb.exe
shlr/sdb/src/sdb
shlr/sdb/src/.sdb
shlr/sdb/src/sdb.exe
shlr/sdb/src/.sdb.exe
shlr/sdb/src/sdb-version.h
shlr/sdb/src/sdb_version.h
shlr/sdb/src/libsdb.so*
shlr/spp/config.h
shlr/.cs_tmp.zip
sys/travis/*.txt
sys/.mark_python-deps
sys/.mark_swig
sys/_work
rizin-bindings
rizin-regressions
rizin-w32-*
rizin-w64-*
tags
**/GPATH
**/GRTAGS
**/GTAGS
**/.gdb_history
.lvimrc
.nconfig.tmp
.ycm_extra_conf.py
.ycm_extra_conf.pyc
.kdev4/*
*.kdev4
rizin-*.zip
# Ignore meson related files
./bin
ninja.exe
.DS_Store
infer_out
infer-out/
cscope.out
r2-static/*
compile_commands.json
librz/flag/d/tags.rz
# CLion
.idea/
# VSCode
.vscode/
CMakeLists.txt
*.cmake
cmake-build-*
# Snap packaging
/parts
/prime
/stage
/snap
/*.snap
# doxygen autogen
doc/doxygen/html
# Python
__pycache__
# Dynamic docker building folder to minimize docker context
.docker_alpine
.ccls-cache/
vgcore.*
librz/include/sdb
peda-session-*
/.vs
.cache/
