*._d
*._o
*.[ado]
*.so
pkgconfig/mcsdb.pc
pkgconfig/sdb.pc
test/api/a.out
test/cas
test/f
test/fmt
test/hook
test/hook2
test/reset/db.test
test/reset/test-reset
test/stack
test/stress1
test/verypush
test/.newdb
test/___syncget.db
test/bench-expire
test/chkkey
test/drain
test/dumptwice
test/expire
test/fmtarr
test/merge
test/milset
test/milsetv
test/ns
test/nsabuse
test/siolpain
test/syncget
test/test.db
test/unit/test_hash
test/unit/test_hash.dSYM/
/.tmp
test/.tmp
test/api/array
test/api/refs
test/unit/.tmp
test/unit/test_array
test/unit/test_ls
test/unit/test_sdb
test/unit/test_diff
test/unit/*.dSYM
src/libsdb.so*
src/libsdb.dylib
src/sdb
src/sdb_version.h
memcache/cmds
memcache/cmds.h
memcache/mcsdbc
memcache/mcsdbd
build
compile_commands.json
.ccls-cache
