name: Continuous build
on:
  push:
    branches:
      - master

jobs:
  build-continuous-deb:
    name: Continuous deb build
    runs-on: ubuntu-latest
    container: debian:buster
    steps:
    - name: Install tools
      run: apt-get update && apt-get install --yes patch unzip git gcc make curl pkg-config xz-utils wget file python
    - name: Checkout rizin
      run: |
        git clone https://github.com/${{ github.repository }}
        cd rizin
        git fetch origin ${{ github.ref }}
        git checkout -b local_branch FETCH_HEAD
    - name: Extract rizin version
      shell: bash
      run: echo "##[set-output name=branch;]$(python sys/version.py)"
      id: extract_version
      working-directory: rizin
    - name: Preparing the deb package
      run: |
        sys/debian.sh
      working-directory: rizin
    - name: Upload deb file
      uses: actions/upload-artifact@v2
      with:
        name: rizin_${{ steps.extract_version.outputs.branch }}_amd64.deb
        path: rizin/rizin_${{ steps.extract_version.outputs.branch }}_amd64.deb
    - name: Upload -dev deb file
      uses: actions/upload-artifact@v2
      with:
        name: rizin-dev_${{ steps.extract_version.outputs.branch }}_amd64.deb
        path: rizin/rizin-dev_${{ steps.extract_version.outputs.branch }}_amd64.deb

  create-release:
    name: Create/Update pre-release Continuous build
    runs-on: ubuntu-latest
    needs: [build-continuous-deb]
    steps:
    - uses: actions/checkout@v2
    - name: Extract rizin version
      shell: bash
      run: echo "##[set-output name=branch;]$(python sys/version.py)"
      id: extract_version
    - uses: actions/download-artifact@v2
    - name: Display structure of downloaded files
      run: ls -R
    - name: Upload files
      shell: bash
      run: .github/upload.sh ./rizin_${{ steps.extract_version.outputs.branch }}_amd64.deb/rizin_${{ steps.extract_version.outputs.branch }}_amd64.deb ./rizin-dev_${{ steps.extract_version.outputs.branch }}_amd64.deb/rizin-dev_${{ steps.extract_version.outputs.branch }}_amd64.deb
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        UPLOADTOOL_BODY: Continuous build ${{ github.sha }}
